body {
  font-size: 1rem;
  font-family: 'Dosis', sans-serif;
  margin: 0;
  position: relative;
  background-color: #282828;
  color: #efd5a4;
  position: relative;
  a {
    color: #925c5c;
  }
  a:visited {
    color: #925c5c;
  }

  .nameSection {
    width: min-content;
    background-color: #ad6037;
    position: relative;
    .tove {
      position: absolute;
      left: 283px;
      top: -100px;
    }
    .hydmark {
      position: absolute;
      top: -20px;
      left: 140px;
    }
    h1 {
      font-family: 'Tangerine', cursive;
      font-size: 7rem;
    }
  }
  //// NAVIGATION ////
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
    position: absolute;
    right: 0;
    margin-top: -100px;
    padding-top: $base-padding * 2;
    li {
      a {
        text-decoration: none;
        font-size: $heading2;
      }
    }
  }

  //// MAIN CONTENT ////
  main {
    min-height: 80vh;
    .about {
      width: fit-content;
      max-width: 40%;
      background-color: #cc9900;
      color: #282828;
      font-size: 2rem;
      position: absolute;
      left: 10px;
      top: 150px;
      padding: 1rem;
      border-radius: 25px;
      p {
        margin: 0;
      }
    }
  }

  //// FOOTER ////
  footer {
    background-color: black;
    color: white;
    height: 150px;
    width: 100%;
    text-align: center;
    position: sticky;
    p {
      padding-top: $base-padding * 3;
      margin: 0;
    }
  }
}
