body {
  font-size: 1rem;
  font-family: 'Dosis', sans-serif;
  margin: 0;
  position: relative;
  background-color: $darkGray;
  color: #ffffff;
  position: relative;
  a {
    color: $lightYellow;
  }
  a:visited {
    color: $lightYellow;
  }

  //// NAVIGATION ////
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
    position: absolute;
    right: 0;
    margin-top: -100px;
    padding-top: $base-padding * 2;
    li {
      a {
        text-decoration: none;
        font-size: $heading2;
      }
    }
  }

  //// FOOTER ////
  footer {
    background-color: black;
    color: white;
    height: 100px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    p {
      padding-top: $base-padding * 3;
      margin: 0;
    }
  }
}
