@import './variables/fonts';

body {
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    li {
      a {
        text-decoration: none;
        font-size: $heading2;
      }
    }
  }
}
